// /* Colors */
$font-color: #9c9c9c; //grey
$font-color-second: #333333;
$font-color-third: #a6a6a6;
$font-color-fourth: #999999;
$font-color-fiveth: #808080;
$border-color: #EAEAEA; //grey
$second-border-color: #e3e3e3;
$first-color: #f58220; // orange
$second-color: #ffffff; //white
$third-color: #04ae00; //green
$link-color: #56819f;
$link-bg-color-active: #F1F3F3;
$bg-color: #191919; //black
$body-bg-color: #F5F5F2; //grey
$font-color: #a6a6a6; //grey

// /* Font sizes */
$first-font-size: 1rem;
$second-font-size: 0.9rem;
$third-font-size: 0.8rem;
$fourth-font-size: 0.7rem;
$fiveth-font-size: 0.65rem;

// $paragraph-font-size: 16px;

// /* Fonts */
$main-font: 'Roboto', sans-serif;
// $brand-font: "Open Sans", Helvetica, Arial;
// $paragraph-font: "Open Sans", Helvetica, Arial;