.c--button {
	height: 40px;
	background-color: $first-color;
	border-radius: 3px;
	font-size: $second-font-size;
	color: $second-color;
	border: none;
	padding: 12px;
	outline: none;
	cursor: pointer;
	padding: 0 20px;
}

.c-button-save {
	width: 127px;
	display: flex;
	margin: 23px auto;
	justify-content: center;
	}

.c--button .icon-refresh {
	width: 40px;
}

.c--button.icon-general {
	font-family: glyphter !important;
}

.button-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

.add {
	justify-content: center;
	display: flex;
	margin: 23px auto;
	width: 127px;
}
