.c--calendar {
	border: 1px solid $border-color;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 17px;
	border-radius: 3px;
	font-size: $fourth-font-size;
	margin-right: 10px;
}

.date1 {
	border-right: 1px solid $border-color;
	padding-right: 50px;
	cursor: pointer;
}

.date2 {
	padding-left: 17px;
	padding-right: 43px;
	cursor: pointer;
}

.calendar-icon {
	max-width: 13px;
	max-height: 13px;
	margin-right: 10px;
	cursor: pointer;
}

