.c--current-values {
	max-width: 310px;
	border-bottom: 1px solid $border-color;
	display: flex;
	margin: 3px auto;
	display: flex;
	justify-content: space-between;
}

.values-name {
	color: #a6a6a6;
	font-weight: 700;
	font-size: $third-font-size;
	align-self: flex-start;
	padding: 10px;
}

.values-data {
	color: $font-color-second;
	font-weight: 700;
	align-self: flex-end;
	font-size: $third-font-size;
	padding: 10px;
}

.l-current-values-wrapper {
	padding: 30px 0;
}