.c--links {
	border-top: 1px solid $border-color;
	height: 65px;
	&:hover {
		background-color: $link-bg-color-active;
	}
}

.c--links

.link-description {
	font-size: $third-font-size;
	font-weight: 500;
	color: $font-color-third;
	line-height: 40px;
}

.link-item {
	color: $link-color;
	font-size: $third-font-size;
	font-weight: 300;
	line-height: 40px;
	cursor: pointer;
}


// link item onclick

 .c--links-is-active {
	background-color: $link-bg-color-active;

}

.link-icon {
	width: 16px;
	height: 8px;
	margin-left: 90px;
	cursor: pointer;
}

.bin-icon {
	max-width: 14px;
	max-height: 15px;
	margin-left: 15px;
	cursor: pointer;
}

//  ======= media  ============

 @media(max-width: 767px) {
 
 	.link-description {
 		height: 10px;
 		text-align: center;
 	}
 	.link-item {
 		text-align: center;
 	}
 }