.c--top-sidebar {
	background-color: $bg-color;
	max-width: 184px;
	height: 60px;
	padding: 18px;
	text-align: center;
}

.logo {
	width: 86px;
	height: 23px;
}

.hamburger-icon {
	margin-left: 40px;
}



