
.c--top-nav {
	height: 60px;
	border: 1px solid $border-color;
	display: flex;
	flex-direction: row-reverse;
	color: $font-color;
	background-color: $second-color;
}

.c--top-nav-part {
	border-left: 1px solid $border-color;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

h2 {
	font-weight: 400;
	color: $font-color;
	margin: 0 15px;
	font-size: $first-font-size;
}

.wallet-icon {
	width: 17px;
	height: 18px;
	cursor: pointer;
}

.arrow-down-icon {
	width: 11px;
	height: 7px;
	cursor: pointer;
} 

.notification-icon {
	width: 16px;
	height: 17px;
	position: relative;
	left: 5px;
	cursor: pointer;
}

.notification-icon-round {
	width: 9px;
	height: 8px;
	background-color: $first-color;
	border-radius: 50%;
	position: relative;
	bottom: 7px;
	right: 4px;
}

.profile-icon {
	width: 17px;
	height: 17px;
	cursor: pointer;
}

.name {
	font-size: $fiveth-font-size;
	font-weight: 300;
	color: #56819f;
	cursor: pointer;
}

// ============ media ==============

@media(max-width: 767px) {
	.c--top-nav {
	height: 40px;
	width: 188px;
	justify-content: center;
}

.c--top-nav-part {
	height: 40px;
	padding: 10px;
}

h2 {
	margin: 0 5px;
	font-size: 10px;
	}

.wallet-icon {
	display: none;
}

.arrow-down-icon {
	display: none;
} 

.notification-icon {
	width: 13px;
	height: 14px;
	position: relative;
	left: 5px;
	cursor: pointer;
}

.notification-icon-round {
	width: 7px;
	height: 6px;
	background-color: $first-color;
	border-radius: 50%;
	position: relative;
	bottom: 6px;
	right: 2px;
}

.profile-icon {
	width: 17px;
	height: 17px;
	cursor: pointer;
}

.name {
	display: none;
}
}