
// section general statistic

.l-statistic-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 33px;
}

.l-current-values-wrapper {
	display: flex;
	justify-content: center;
}

.l-current-values-col {
	margin: 40px;
}


.header-earnings-chart {
	color: #a6a6a6;
	font-weight: 700;
	font-size: $third-font-size;
}

.l-calendar-wrapper {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid $border-color;
}
